<div class="header">
  <div class="user">
    <div class="user-image">
      {{ person?.firstName[0] }}{{ person?.lastName[0] }}
    </div>
    <div class="user-details">
      <div class="user-name">
        {{ person?.firstName }} {{ person?.lastName }}
      </div>
      <div class="user-status">Logged in</div>
    </div>
  </div>
  <div class="header-icons">
    <div class="header-icon">
      <i-feather class="small-icon" name="bell"></i-feather>
    </div>
    <div class="header-icon">
      <i-feather class="small-icon" name="settings"></i-feather>
    </div>
  </div>
</div>
